</div>
<footer class="footer">
    <div class="footer_div">
        <p style="margin-bottom: 0;">Authors: Iri Zink, Andrew Hage, and Colten Pitner</p>
        <p style="margin: 0; padding-top: 0;">Contact us at <a href="mailto:azink11@ivytech.edu">Iri Zink</a>, <a href="mailto:ahage1@ivytech.edu">Andrew Hage</a>, <a href="mailto:cpitner1@ivytech.edu">Colten Pitner</a></p>
        <p>&copy 2022</p>
    </div>
</footer>