<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Enroll In <span class="text-warning">Our Courses Today</span> </h1>
          <p class="lead my-4">
            Enroll into our courses today for a brighter future.
            You can find the courses that best fit your life with our schedule builder.
          </p>
          <button class="btn btn-primary btn-lg" onclick="location.href='/register'">Begin Enrollment</button>
        </div>
      </div>
    </div>
  </section>