<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/header.ejs") %>

    <body>
      <!-- Navbar-->
      <%- include("./partials/nav.ejs") %>
    
      <!-- Showcase -->
      <%- include("./partials/showcase.ejs") %>
      <div id="loginForm">
      <div id="firstForm">
      <form id="studentForm">
        <h2>Student Log In</h2>
         <label for="username">Username</label>
         <input type="text" name="username"/>
         <div class="formError" id="student username error"></div><br>
         <label for="password">Password</label>
         <input type="password" name="password"/>
         <div class="formError" id="student password error"></div><br>
         <button>Log In</button>
      </form>
      </div>

      <br>
    
      <form id="teacherForm">
        <h2>Teacher Log In</h2>
         <label for="username">Username</label>
         <input type="text" name="username"/>
         <div class="formError" id="teacher username error"></div><br>
         <label for="password">Password</label>
         <input type="password" name="password"/>
         <div  class="formError" id="teacher password error"></div><br>
         <button>Log In</button>
      </form>
    </div>

      <script>
    //student
    const studentForm = document.getElementById('studentForm');
    const studentusernameError = document.getElementById('student username error');
    const studentpasswordError = document.getElementById('student password error');
    //teacher
    const teacherForm = document.getElementById('teacherForm');
    const teacherusernameError = document.getElementById('teacher username error');
    const teacherpasswordError = document.getElementById('teacher password error');
    
    studentForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        studentusernameError.textContent = '';
        studentpasswordError.textContent = '';

        //get the values
        const username = studentForm.username.value;
        const password = studentForm.password.value;
        console.log(username);

        try {
            const res = await fetch('/student/login', {
                method: 'POST',
                body: JSON.stringify({username, password}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json();
            if(data.errors) {
                studentusernameError.textContent = data.errors.username;
                studentpasswordError.textContent = data.errors.password;

            }
            if(data.student) {
                location.assign('/');
            }

        }catch (err) {
            console.log(err);
        }
    });

    teacherForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        teacherusernameError.textContent = '';
        teacherpasswordError.textContent = '';

        //get the values
        const username = teacherForm.username.value;
        const password = teacherForm.password.value;

        try {
            const res = await fetch('/teacher/login', {
                method: 'POST',
                body: JSON.stringify({username, password}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.errors) {
                teacherusernameError.textContent = data.errors.username;
                teacherpasswordError.textContent = data.errors.password;

            }
            if(data.teacher) {
                location.assign('/');
            }

        }catch (err) {
            console.log(err);
        }
    });


      </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<%- include("./partials/footer.ejs") %>

</body>

</html>